Xerces v2.0.0.beta1/docs/dtd/markup.ent

<?xml encoding='UTF-8'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|strong|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT strong (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 1.1.2.2 $ $Date: 2001/07/25 08:43:37 $ -->
