Xalan v2.1.0/xdocs/style/dtd/markup.ent

<?xml encoding='US-ASCII'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "../../sources/entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;|ref)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 1.1 $ $Date: 2006/03/01 20:52:05 $ -->