mapperxml-1.9.8-GA/src/com/taursys/dom/test/data/testdoc1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset (person)>

<!ELEMENT firstname (#PCDATA)>

<!ELEMENT lastname (#PCDATA)>

<!ELEMENT middleinitial (#PCDATA)>

<!ELEMENT address (#PCDATA)>

<!ELEMENT person (lastname,firstname,middleinitial,address)>
<!ATTLIST person identity NMTOKEN #REQUIRED>

